/*Favoritos*/

#gamePics {
    width: 623px;
    height: 425px;
    position: relative;
    left: 60px;
}

#jogoImagem {
    width: 100%;
    height: 338px;
    object-fit: cover;
    /* Redimensiona a imagem para cobrir todo o espaço */
}

.columnLeft {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 0px;
}

.aboutGame {
    width: 623px;
    height: 338px;
    background-color: #D6DAD6;
    padding: 50px 20px 50px 20px;
}

.columnRight {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 0px;
}

/*Categorias*/

.categoriasJogo {
    width: 300px;
    height: 575px;
    background-color: #D6DAD6;
}

.categoriasTitulo {
    text-align: center;
    padding-top: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.categoriaAdiciona {
    max-height: 410px;
    overflow-y: auto;
    overflow-x: hidden;
}

.jogosFiltrados {
    max-height: 575px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 12px;
    margin-top: 12px;
}

.jogo {
    display: none;
}