body {
  background-color: #878787;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.voltar {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 15px;
  margin-left: 175px;
  background-color: #A6AEA6;
  border-radius: 5px;
  width: 100px;
}

footer {
  padding: 20px 0;
}

/*Login Section*/

.login {
  padding: 100px;
}

#ou {
  font-weight: bold;
  color: white;
  margin-top: 8px;
}

.login-title {
  text-align: center;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}

.loginCard {
  width: 500px;
  height: 500px;
  background: rgba(214, 218, 214, 0.50);
}

.login-info {
  font-size: 1.5rem;
  color: white;
}

.login-button {
  margin-top: 50px;
  text-align: center;
}

.codigoCard {
  width: 500px;
  height: 517px;
  background: rgba(214, 218, 214, 0.50);
}

/*Usuario Section*/

.novidadeTitulo {
  text-align: center;
  background-color: #D6DAD6;
  margin: auto;
  width: 80%;
  margin-top: 12px;
}

.novidadeTitulo h4 {
  height: 31px;
}

/*Cadastro Section*/

#cadastro {
  padding: 100px;
}

#voltar {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 15px;
  margin-left: 175px;
  background-color: #A6AEA6;
  border-radius: 5px;
  width: 100px;
}

.cadastro-title {
  text-align: center;
  font-size: 2rem;
  line-height: 1.5;
  color: black;
}

.cadastroCard {
  width: 500px;
  height: 725px;
  background: #D6DAD6;
}

.cadastro-info {
  font-size: 1.5rem;
  color: black;
}

.cadastro-button {
  margin-top: 25px;
  text-align: center;
}

.cadastroPlataformaCard {
  width: 500px;
  height: 405px;
  background: #D6DAD6;
}

.cadastroJogoCard {
  width: 500px;
  height: 575px;
  background: #D6DAD6;
}

/*Media Query Section*/

@media (max-width: 450px) {

  #botaoCadastrarJogo button {
      width: 150px;
      font-size: 18px;
      text-align: center;
  }

  #botaoRemover button {
      width: 150px;
      font-size: 18px;
      text-align: center;
      margin-left: -40px;
  }

  #botaoCadastrar button {
      width: 150px;
      font-size: 18px;
      text-align: center;
      margin-left: -40px;
  }

  .cadastroJogoCard {
      width: 300px;
      height: 475px;
      background: #D6DAD6;
  }

  .cadastroPlataformaCard {
      width: 300px;
      height: 475px;
      background: #D6DAD6;
  }

  .card-body {
      width: 100%;
  }

  .cadastro-form {
      width: 100%;
      /* Ajuste conforme necessário */
      margin: 0 auto;
  }

  .form-group {
      margin-bottom: 15px;
  }

  .cadastro-button {
      text-align: center;
  }

  .cadastro-title {
      text-align: center;
      font-size: 2rem;
      line-height: 1.5;
      color: black;
      font-size: 18px;
  }

  #voltar {
      text-align: center;
      margin-bottom: 15px;
      /* Ajuste conforme necessário */
      margin-left: 0;
      /* Centralize o botão */
      background-color: #A6AEA6;
      border-radius: 5px;
      width: 70%;
      /* Preencha a largura do container */
      max-width: 334px;
      /* Defina uma largura máxima para o botão Voltar */
      margin-right: auto;
      /* Alinhe à direita */
      margin-left: auto;
      /* Alinhe à esquerda */
  }

  #nome,
  #fabricante,
  #plataforma,
  #status {
      font-size: 14px
  }
}

/*App Section*/

/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
