body {
    background-color: #878787;
    overflow-x: hidden;
}

footer {
    padding: 20px 0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/*Navigation Bar*/

.navbar {
    text-align: center;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;

}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}

.navBar {
    background: #1A456C;
}

/*Games*/

#game {
    margin-left: 120px;
}

.gameImg {
    width: 262px;
    height: 142.391px;
}

.gameCard {
    background: #D6DAD6;
    text-align: center;
    width: 290px;
    height: 392px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 30px;
}

.gameTitle {
    margin-top: 16px;
}

.gameText {
    width: 215px;
    margin-left: 35px;
}

.categoryImg {
    width: 25px;
    padding-bottom: 5px;
}

/*Login Section*/

#login {
    padding: 100px;
}

#esqueceuSenha {
    padding: 100px;
}

#ou {
    font-weight: bold;
    color: white;
    margin-top: 8px;
}

.login-title {
    text-align: center;
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}

.loginCard {
    width: 500px;
    height: 500px;
    background: rgba(214, 218, 214, 0.50);
}

.login-info {
    font-size: 1.5rem;
    color: white;
}

.login-button {
    margin-top: 50px;
    text-align: center;
}

.codigoCard {
    width: 500px;
    height: 517px;
    background: rgba(214, 218, 214, 0.50);
}

.newCard {
    width: 500px;
    height: 402px;
    background: rgba(214, 218, 214, 0.50);
}

/*Cadastro Section*/


#cadastro {
    padding: 100px;
}

#voltar {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 15px;
    margin-left: 182px;
    background-color: #A6AEA6;
    border-radius: 5px;
    width: 100px;
}

.cadastro-title {
    text-align: center;
    font-size: 2rem;
    line-height: 1.5;
    color: black;
}

.cadastroCard {
    width: 500px;
    height: 725px;
    background: #D6DAD6;
}

.cadastro-info {
    font-size: 1.5rem;
    color: black;
}

.cadastroP-button {
    margin-top: 25px;
    text-align: center;
    margin-left: 50px;
}

.cadastro-button {
    margin-top: 25px;
    text-align: center;
}

#botaoRemover button, #botaoCadastrar button{
    width: 334px;
    text-align: center;
    margin-right: 95px;
}

#botaoCadastrarJogo button{
    width: 334px;
    text-align: center;

}

.cadastroPlataformaCard {
    width: 500px;
    height: 405px;
    background: #D6DAD6;
}

.cadastroJogoCard {
    width: 500px;
    height: 575px;
    background: #D6DAD6;
}



/* Sobre Section */

#about {
    padding: 100px;
    background-image: url('images/Games-Brasil.webp');
    background-size: cover; /* Isso faz com que a imagem cubra todo o corpo da página */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    overflow-x: hidden;
}

.about-title {
    text-align: center;
    font-size: 3.8rem;
    line-height: 1.5;
    color: #ffffff; /* Cor do texto */
    text-shadow: 2px 2px 4px rgba(17, 0, 255, 0.7); /* Contorno em vermelho (substitua pelos valores desejados) */
}

.aboutCard {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: rgba(48, 134, 204, 0.8); /* Ajuste a opacidade conforme necessário */
    font-size: 18px;
    font-style: italic;
    text-align: center;
    border-radius: 10px; /* Adiciona bordas arredondadas */

}

.about-info {
    font-size: 1.5rem;
    color: white;

}

.container {
    width: 100%; /* Ajuste a largura conforme necessário */
}

/* Adiciona uma margem inferior ao container para garantir que o gradiente de fundo seja visível */
.container:after {
    content: "";
    display: table;
    clear: both;
}

.card-body {
    display: inline-block;
    /* Faz com que os elementos apareçam na mesma linha */
    margin-right: 20px;
    /* Espaçamento entre as caixas de seleção e o campo de texto */
}

#text-input {
    display: none;
    vertical-align: top;
    /* Alinha o campo de texto ao topo das caixas de seleção */
}



@media (max-width: 450px) {

    #botaoCadastrarJogo button{
        width: 150px;
        font-size: 18px;
        text-align: center;
    }

    #botaoRemover button{
        width: 150px;
        font-size: 18px;
        text-align: center;
        margin-left: -40px;
    }

    #botaoCadastrar button{
        width: 150px;
        font-size: 18px;
        text-align: center;
        margin-left: -40px;
    }

    .cadastroJogoCard {
        width: 300px;
        height: 475px;
        background: #D6DAD6;
    }

    .cadastroPlataformaCard {
        width: 300px;
        height: 475px;
        background: #D6DAD6;
    }

    .card-body{
        width: 100%;
    }

    .cadastro-form {
        width: 100%; /* Ajuste conforme necessário */
        margin: 0 auto;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .cadastro-button {
        text-align: center;
    }

    .cadastro-title {
        text-align: center;
        font-size: 2rem;
        line-height: 1.5;
        color: black;
        font-size: 18px;
    }

    #voltar {
        text-align: center;
        margin-bottom: 15px; /* Ajuste conforme necessário */
        margin-left: 0; /* Centralize o botão */
        background-color: #A6AEA6;
        border-radius: 5px;
        width: 70%; /* Preencha a largura do container */
        max-width: 334px; /* Defina uma largura máxima para o botão Voltar */
        margin-right: auto; /* Alinhe à direita */
        margin-left: auto; /* Alinhe à esquerda */
    }

    #nome, #fabricante, #plataforma, #status{
        font-size: 14px
    }

    .gameImg {
        width: 150px;
        height: 81.1955px; /* Ajuste de proporção para manter o aspecto original */
    }

    .gameCard {
        width: 250px;
        height: 342px;
        margin-left: 15px;
        margin-top: 15px;
    }

    .gameTitle {
        margin-top: 8px;
        font-size: 1.5rem;
    }

    .gameText {
        width: 150px;
        margin-left: 15px;
        font-size: 14px;
    }
    

    }

